:3000 {
	encode gzip zstd

	@api {
		path /api*
	}

	handle @api {
		reverse_proxy localhost:8000
	}

	handle {
		reverse_proxy localhost:3001
	}

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	handle @websockets {
		reverse_proxy localhost:8000
	}
}
