:3000 {
	encode gzip zstd

	@api {
		path /api*
	}

	handle @api {
		reverse_proxy localhost:8000
	}

	handle {
		root * /usr/share/caddy
		file_server
        try_files {path} /index.html
	}

	@websockets {
		header Connection Upgrade
		header Upgrade websocket
	}

	handle @websockets {
		reverse_proxy localhost:8000
	}
    log {
        level debug
        format console
    }
}
